node_modules/
server/node_modules/
**/.env
**/.env.*
!**/.env.example
.DS_Store
server/storage/uploads/*
server/storage/processed/*
!server/storage/uploads/.gitkeep
!server/storage/processed/.gitkeep
